/* Base */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f2f2f7;
    color: #333;
}

/* Header */
header {
    text-align: center;
    padding: 25px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}


header h1 {
    font-weight: 600;
    margin: 0;
}
header span {
    color: #61429b;
    font-weight: 700;
}

/* Card Container */
.card {
    max-width: 420px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 4px 10px 40px  rgba(0,0,0,0.07);
    text-align: center;
}

/* Profile Image */
.profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 30%;
    margin-bottom: 15px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

/* Name Text */
.name {
    margin: 10px 0 5px;
    font-size: 22px;
    font-weight: 600;
}

/* deskription */
.deskription {
    font-size: 14px;
    line-height: 1.7;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: justify;
}


.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 25px;
}

.skills span {
    background: #eef1ff;
    padding: 8px 14px;
    border-radius: 40px;
    font-size: 13px;
    color: #61429b;
    font-weight: 500;
}

/* Button */
.btn {
    background: #61429b;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 4px 12px rgba(75,92,255,0.3);
}

.btn:hover {
    background: rgb(98, 23, 220);
    transform: translateY(-2px);
}

/* Footer */
footer {
    text-align: center;
    padding: 18px;
    margin-top: 40px;
    font-size: 14px;
    color: #ffffff;
    padding: 25px;
    background: #61429b;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}


/* Responsive Tablet */
@media (max-width: 768px) {

    .card {
        width: 80%;
    }

    header h1 {
        font-size: 24px;
    }

    .skills {
        grid-template-columns: repeat(3, 1fr); 
    }

    .btn {
        width: 70%;
        padding: 12px;
    }
}

/* Responsive Mobile */
@media (max-width: 480px) {

    .card {
        width: 90%;
        padding: 20px;
        border-radius: 15px;
    }

    header h1 {
        font-size: 20px;
    }

    .profile-img {
        width: 110px;
        height: 110px;
    }

    .description {
        font-size: 13px;
        text-align: justify; 
    }

    .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12 px;
    justify-items: center;
    margin-bottom: 25px;
}


    .skills span {
        font-size: 12px;
        padding: 6px 10px;
    }

    .btn {
        width: 50%;
        padding: 12px;
    }
}

